.DS_Store

# No compiled python files.
**/*.pyc

# Ignore fishd auto generated config file.
**/fishd.*

# Ignore vim swp files.
**/*.swp

# Ignore vundles.
.vim/bundle/*

.config/nvim/.netrwhist
.vim/.netrwhist

.config/nvim/autoload
.config/nvim/plugged
.config/configstore/update-notifier-npm.json
.config/.mono/
.config/configstore/

powerline
!.config/powerline

.config/git/gitk
